body {
    background-color: #f2f2f2;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  .material-symbols-outlined{
    color: #000;
    top: 20px; /* Distância do topo */
    left: 50px; /* Distância da esquerda */
    position: absolute;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .material-symbols-outlined:hover{
    color: #125d6d;
    transform: scale(2.2);

  }
  
  .register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    margin: auto; /* Centraliza verticalmente */
    margin-top: 280px;
   
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    font-weight: bolder;
  }
  
.register-container .name, .personal-itens, .password-container, .email{
    display: flex;
}

.name div, .personal-itens div, .password-container div{
    width: 49%;
}

.name .first-name input, .personal-itens .cpf input, .password-container .password-create input, .box-itens .crm input, .box-itens .email input{
    margin-right: 10px;
}
.name .last-name input, .personal-itens .phone input, .password-container .password-confirm input, .box-itens .crm input{
    margin-left: 10px;
}
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0 35px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.response-container{
  display: block;
  text-align: center;
  background-color: #E7E7E7;
  padding: 5px;
  border-radius: 3px;
}

.box-itens {
  display: flex;
  flex-direction: row;

}

.box-itens .email {
  flex-direction: column;
  width: 78%;
}
.box-itens .crm{
  width: 20%;
}

textarea {
  margin: 10px 0;
  width: 93%;
  height: 150px;
  padding: 12px 20px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  resize: vertical; /* Permite ajustar apenas a altura */
}

select {
  width: 99.5%;
  padding: 12px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  appearance: none; /* Remove o estilo padrão */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23999' d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  transition: border-color 0.3s ease;
}

select:focus {
  outline: none;
  border-color: #007BFF;
}